<nav class="navbar bg-secondary">
  <div>APP</div>

  <div class="navbar-options">
    <a class="navbar-option" [routerLink]="['create']" routerLinkActive="active" >
      CREATE COURSE
    </a>

    <a class="navbar-option" [routerLink]="['edit']" routerLinkActive="active">
      EDIT COURSE
    </a>

    <a class="navbar-option" [routerLink]="['delete']" routerLinkActive="active">
      DELETE COURSE
    </a>
  </div>

  <!-- <div (click)="logout()">
    <i class="fas fa-sign-out-alt fa-2x logout" tooltip="Logout" placement="bottom"></i>
  </div> -->
</nav>