nav {
  height: 60px;
}

.navbar-option {
  display: inline-block;
  color: white;
  cursor: pointer;
  margin: 0 20px;
  text-decoration: none;

  &.active {
    font-weight: 800;
  }
}

.hamburger,
.logout {
  color: #b9c1d0;
  cursor: pointer;
}
